<app-data-arrival-status-animation [backgroundAnimationColor]="backgroundAnimationColor"
                                   [animationColor]="animationColor"
                                   [animationState]="animationState">

</app-data-arrival-status-animation>

<div class="buttons">
  <button (click)="start()">START</button>
  <button (click)="stop()">STOP</button>
  <input class="ml-2" type="color" id="backgroundAnimationColor" [value]="backgroundAnimationColor"
         (input)="backgroundAnimationColorChange($event)">
  <input class="ml-2" type="color" id="animationColor" [value]="animationColor"
         (input)="animationColorChange($event)">

</div>
<router-outlet></router-outlet>
